h1, h2, p {
  text-align: center;
}

h1 {
    font-family: 'Kavoon', cursive;
    font-size: 50px;
    color: #ffe9a1;
}

h2 {
    font-size:25px;
}
body {
    font-family: 'Noto Sans SC', sans-serif;
    background-color: rgb(247, 127, 127);
    text-align: center;
    font-size: 20px;
}
.form {
    background-color: #fffffc;
    border-radius: 5px;
    max-width: 800px;
    display: inline-block;
}

div {
  padding: 10px;
  margin: 10px;
}

.left {
    display: inline-block;
    text-align: right;
    vertical-align: top;
    margin-top: 20px;
    width: 40%;
}

.list {
    display: inline-block;
    text-align: left;
    vertical-align: bottom;
    width: 45%;
    padding-top: 0;
}

ul {
  list-style-type: none; 
    padding: 0;
}

.box {
    margin-top: 20px;
}

select {
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 15px;
}

::-webkit-input-placeholder {
  color: gray;
  font-size: 15px;
}
::-moz-placeholder {
  color: gray;
  font-size: 15px;
}
:-ms-input-placeholder {
  color: gray;
  font-size: 15px;
}
::placeholder {
  color: gray;
  font-size: 15px;
}

button {
    position: relative;
    width: 100px;
    height: 50px;
    border-radius: 8px;
    font-family: 'Noto Sans SC', sans-serif;
    background-color: orange;
    font-size: 20px;
}

footer {
    height: 70px;
}

